
<h2 class="rubberband">RubberBand Button Hover Effect</h2> 
<button class="animate__animated rubberband"> RubberBand </button><br><br>

<h3 class="menu"style="padding: 10px;">CSS  <br><textarea cols="50" rows="20" style="font-size: 15px;">@keyframes effect { 
    0% { 
        transform: scale(1, 1); 
    } 
    25% { 
        transform: scale(1.3, 0.6); 
    } 

    50% { 
        transform: scale(1.1, 0.9); 
    } 
    100% { 
        transform: scale(1, 1); 
    } 
} 
.rubberband:hover { 
    animation: effect linear 1s; 
} </textarea></h3>

<h3 class="menu"style="padding: 10px;">HTML <br><textarea  cols="30" rows="5" style="font-size: 15px;"> <button class="animate__animated rubberband">RubberBand</button></textarea> </h3>




