
<h2 class="tada">Tada Button Hover Effect</h2> 
<button class="animate__animated tada ">Tada</button><br><br>

<h3 class="menu"style="padding: 10px;">CSS  <br><textarea cols="50" rows="20" style="font-size: 15px;">@keyframes tada
    {
        0% {transform: scale(1);} 
        10%, 20% {transform: scale(0.9) rotate(-3deg);} 
        30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
        40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
        100% {transform: scale(1) rotate(0);}
    }
    .tada:hover
    {
        animation:tada 2s;
    }
</textarea></h3>

<h3 class="menu"style="padding: 10px;">HTML <br><textarea  cols="30" rows="5" style="font-size: 15px;"><button class="animate__animated tada ">Tada</button> </textarea> </h3>




