
<h2 class="wobble">Wobble Button Hover Effect</h2> 
<button class="animate__animated wobble ">Wobble</button><br><br>

<h3 class="menu"style="padding: 10px;">CSS  <br><textarea cols="50" rows="20" style="font-size: 15px;">@keyframes wobble
    {
    0% { transform: translateX(0%); } 
    15% { transform: translateX(-25%) rotate(-5deg); } 
    30% { transform: translateX(20%) rotate(3deg); } 
    45% { transform: translateX(-15%) rotate(-3deg); } 
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); } 
    }
    .wobble:hover
    {
        animation:wobble 2s;
    }
</textarea></h3>

<h3 class="menu"style="padding: 10px;">HTML <br><textarea  cols="30" rows="5" style="font-size: 15px;"><button class="animate__animated wobble ">Wobble</button> </textarea> </h3>




