<html>
  <body>
      <div class="vertical-menu">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/bounce">Bounce</a></li>
          <li><a routerLink="/flash">Flash</a></li>
          <li><a routerLink="/rubberband">RubberBand</a></li>
          <li><a routerLink="/pulse">Pulse</a></li>
          <li><a routerLink="/shake-x">ShakeX</a></li>
          <li><a routerLink="/shake-y">ShakeY</a></li>
          <li><a routerLink="/headshake">headshake</a></li>
          <li><a routerLink="/swing">Swing</a></li>
          <li><a routerLink="/tada">Tada</a></li>
          <li><a routerLink="/wobble">Wobble</a></li>
          <li><a routerLink="/jello">Jello</a></li>
          <li><a routerLink="/heart-beat">HeartBeat</a></li>
        </ul>
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
       
  </body>
</html> 
    